.Button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 1rem;
  border: 0;
  margin: 1rem auto;
  background-color: var(--color-secondary);
  color: var(--color-quinary);
  cursor: pointer;
  outline: transparent;
}
