.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.Title {
  margin: 1.2rem 0 1.2rem;
  display: inline-block;
  color: var(--color-secondary);
  text-decoration: underline;
}

.Input {
  padding: 10px 0;
  border-radius: 6px;
  transition: border-bottom 0.5s;
  margin-bottom: 1.2rem;
}

.Input:focus {
  outline: transparent;
  border-bottom: 3px solid var(--color-secondary);
}

.Label {
  color: var(--color-quinary);
  font-weight: 500;
  text-transform: uppercase;
}

.FormButton {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 1rem;
  border: 0;
  margin: 1rem auto;
  background-color: var(--color-secondary);
  color: var(--color-quinary);
  cursor: pointer;
  outline: transparent;
}

.ErrorMsg {
  color: var(--color-secondary);
  margin: 0.4rem 0;
}
